/* Fonts */
body {
    font-family: Arial, sans-serif;
}

h1, h2 {
    font-weight: 800;
}

ul li:nth-last-child(-n+2), #braun {
    font-style: italic;
}

#blau {
    color: blue;
    font-weight: 800;
}

#pink {
    color: pink
}
/* #farben-list li:nth-child(2) {
    color: pink;
} */

#braun {
    color: brown
}